body{
	width:100%;
	background-color: #008ae6;
	font-family:roboto;
}
.logo{
	height:35px;
	display:block;
	margin:0 auto;
	padding-top:35px;
	padding-bottom:10px;
}
.heading{
	text-align:center;
	padding-top:50px;
}
.signup-page{
	width:320px;
	display:block;
	margin:0 auto;
	text-align: left;
	background-color:white;
	padding-left:40px;
	padding-right:40px;
	padding-bottom:50px;
}
.signup-page input{
	border-radius:4px;
	display:block;
	padding-bottom: 5px;
	padding-top:15px;
	padding-bottom:15px;
	padding-left:10px;
	margin-top:15px;
	margin-bottom:15px;
	width:320px;
	border:2px solid lightgrey;
	font-size: 18px;
}
.black{
	font-size: 15px;
	font-weight:bold;
	padding-bottom: 15px;
}
.green{
	background-color: #4CAF50;
	border:none;
	width:320px;
	padding-top:15px;
	padding-bottom:15px;
	color:white;
	font-weight:bold;
	font-size: 18px;
	border:2px solid #4CAF50;
}
a{
	text-decoration: none;
}	
.white{
	color:white;
	font-weight: bold;
}
.login{
	display:block;
	padding-top:15px;
	text-align: center;
}
.green:hover{
	background-color:darkgreen;
}
.forgot{
	display:block;
	color:lightgrey;
	padding-top:15px;
	text-align: center;
	text-decoration: underline;
}
.login-link{
	text-decoration: underline;
}
